// importing bootstrap functions, variables and mixins
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";

// creating new values of spacing for margins, paddings and gaps
$custom-spacers: (
    // 32px
    6: ($spacer * 2),
    // 30px
    7: ($spacer * 1.875),
    // 20px
    8: ($spacer * 1.25),
    // 12px
    9: ($spacer * 0.75),
    // 42px
    10: ($spacer * 2.25),
    // 14px
    11: ($spacer * 0.875),
    // 54px
    12: ($spacer * 3.375)
);

// adding new spacers values
$spacers: map-merge($map1: $spacers,
        $map2: $custom-spacers,
    );

@import "../../../node_modules/bootstrap/scss/bootstrap";

// sidebar styling and overriding
aside {
    background-color: #363740;
    max-width: 255px !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    header {
        h5 {
            color: #a4a6b3 !important;
        }
    }

    nav {
        a {
            text-decoration: none;
            color: #a4a6b3;

            &.active {
                background-color: rgba(159, 162, 180, 0.08);
                border-left: 3px solid #dde2ff;
                color: #dde2ff;
            }
        }

        hr {
            color: #a4a6b3;
        }
    }
}

// main content styling and overriding
main {
    background-color: #f7f8fc;

    #first-row {
        .container {
            background-color: #ffffff;
            border: 1px solid #dfe0eb;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
            }

            h5 {
                color: #9fa2b4;
            }

            span {
                font-size: 3rem;
            }

            &.active {
                border-color: #3751ff;

                h5,
                span {
                    color: #3751ff;
                }
            }
        }
    }

    #graph-section {
        background-color: #ffffff;
        border: 1px solid #dfe0eb;
        border-radius: 8px;

        .container {
            background-color: #ffffff;
            border: 1px solid #dfe0eb;

            h5 {
                color: #9fa2b4;
                font-size: 1rem;
            }

            span {
                font-size: 1.5rem;
            }

        }
    }

    #graph-side-bar {
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        
        div:first-of-type {
            border-top-right-radius: 8px !important;
        }
        
        div:last-of-type {
            border-bottom-right-radius: 8px !important;
        }
        
    }


    #third-section {
        .container2 {
            background-color: #ffffff;
            border: 1px solid #dfe0eb;
            border-radius: 8px;

            h5 {
                font-size: 1.5rem;
            }

            h6 {
                font-size: 1rem;

            }

            div span {
                font-size: 1rem;
                color: #9fa2b4;
                margin-top: -2rem;
            }

            .smalltext {
                font-size: 0.9rem;
                color: #9fa2b4;
            }

            .support {
                color: black;
            }

            .details {
                color: #3751ff;
            }

            .border3 {
                border-bottom: 1px solid #dfe0eb;

            }

            .right-Item {
                margin-top: -0.1rem;
            }

            .checkbox-round {
                width: 1.3em;
                height: 1.3em;
                background-color: white;
                border-radius: 50%;
                vertical-align: middle;
                border: 1px solid #9fa2b4;
                appearance: none;
                -webkit-appearance: none;
                cursor: pointer;
                position: relative;
            }

            .checkbox-round:checked {
                background-color: #3751ff;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkbox-round:after {
                content: "";
                position: absolute;
                display: block;
            }

            /* Style the checkmark/indicator */
            .checkbox-round:after {
                left: 8px;
                top: 4px;
                width: 4px;
                height: 8px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .sign-style {
                background-color: #ededed;
                min-width: 30px;
                min-height: 30px;
                font-size: 20px;
                text-align: center;
                color: #9fa2b4;
                border-radius: 8px;
                display: inline-block;
            }

            .urgent-style {
                background-color: #fdc432;
                padding: 0.3rem 1rem 0.3rem 1rem;
                font-size: 0.8rem;
                text-align: center;
                color: #ffffff;
                border-radius: 8px;
            }

            .new-style {
                background-color: #1ec188;
                padding: 0.3rem 1rem 0.3rem 1rem;
                font-size: 0.8rem;
                text-align: center;
                color: #ffffff;
                border-radius: 8px;
            }

            .default-style {
                background-color: #ededed;
                padding: 0.3rem 1rem 0.3rem 1rem;
                font-size: 0.8rem;
                text-align: center;
                color: #9fa2b4;
                border-radius: 8px;
            }
        }


    }
}

// responsiveness overriding 
@include media-breakpoint-down(sm) {
    body {
        div.row {
            flex-direction: column;

            aside {
                max-width: 100% !important;

                header {
                    justify-content: center;
                    padding-left: 0 !important;
                    padding-bottom: 1rem;
                }

                nav {
                    display: none;
                }
            }
        }
    }
}